@model List<CarCaseProject.Entities.Car>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h4 class="card-title">Araç Listesi</h4>
    <br />
    <span>Araç Tablosu Üzerinde İşlem Yapılacak Alandır</span>
    <br />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Araç ID</th>
                    <th scope="col">Araç ADI </th>
                    <th scope="col">Araç Plaka</th>
                    <th scope="col">Araç Aktif Çalışma Süresi</th>
                    <th scope="col">Araç Bakım Süresi </th>
                    <th scope="col">Aracın Boşta Bekleme Süresi</th>
                    <th scope="col">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.CarID
                        </td>
                        <td>
                            @item.CarName
                        </td>
                        <td>
                            @item.LicensePlate
                        </td>
                        <td>
                            @item.ActiveWorkingTime
                        </td>
                        <td>

                            @item.MaintenanceTime
                        </td>
                        <td>

                            @item.IdleTime
                        </td>
                        <td><a href="/Car/UpdateCar/@item.CarID" class="btn btn-success">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>