@model CarCaseProject.Entities.Car

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Müşteri Bilgileri Düzenleme Sayfası</h2>
<form method="post">
    <div hidden>
        <label>Araç ID</label>
        @Html.TextBoxFor(x => x.CarID, new { @class = "form-control" })
    </div>
    <div hidden>
        <label>Araç Adı</label>
        @Html.TextBoxFor(x => x.CarName, new { @class = "form-control" })
        <br />
    </div>
    <div hidden>
        <label>Araç Plaka</label>
        @Html.TextBoxFor(x => x.LicensePlate, new { @class = "form-control" })
        <br />
    </div>
    <label>Aktif Kullanım Ekle</label>
    @Html.TextBoxFor(x => x.ActiveWorkingTime, new { @class = "form-control" })
    <br />
    <label>Boşta Bekleme Süresi</label>
    @Html.TextBoxFor(x => x.IdleTime, new { @class = "form-control" })
    <br />
    <label>Bakım Süresi</label>
    @Html.TextBoxFor(x => x.MaintenanceTime, new { @class = "form-control" })
    <br />
    <label>Haftalık Zaman Dilimi</label>
    @Html.TextBoxFor(x => x.TotalTime, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-info">Verileri Güncelle</button>
</form>